/*FONTS*/
@font-face {
  font-family: "garamond";
  src: url("../fonts/applegaramond-light.ttf") format("ttf");
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Neue";
  src: url("../fonts/Neue.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Neue.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Neue.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Neue.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

ul,
li {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

body {
  overscroll-behavior: none;
  font-family: "Neue";
  background-color: white;
  font-size: 1.5em;
  top: 0;
  left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#container-mobile {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#col1::-webkit-scrollbar {
  display: none;
}

#col2::-webkit-scrollbar {
  display: none;
}

#col3::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#col1,
#col2,
#col3 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.button {
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1;
  padding: .2em .5em;
  padding-top: .25em;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  border: 2px solid black;
}

.button:hover {
  background-color: #000;
  color: white;
}

.button a {
  font-size: 1.2em;
}

.sticky {
  top: 15px;
  display: block;
  position: absolute;
  font-size: 1.5rem;
  border-radius: 15px;
  z-index: 800;
}

/*COL*/
#container {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
}

.col {
  height: 100%;
  z-index: 8000;
  overflow: scroll;
}

.resizer {
  width: 20px;
  height: 100%;
  background-color: #707070;
}
.first {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}

.second {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}

.resizer:hover {
  cursor: col-resize;
}

#col1 {
  color: black;
  flex-basis: 20%;
  background-color: white;
}

#col2 {
  flex-basis: 0%;
  flex-grow: 1;
  background-color: #707070;
}

#col3 {
  flex-basis: 20%;
  color: black;
  background-color: white;
}

.medium {
  display: none;
}

/* elements with random positioning in 2nd col */

.randomnumber {
  position: relative;
  display: inline-block;
  max-width: 170px;
  filter: drop-shadow(7px 7px 10px rgba(0, 0, 0, 0.8));
}

/*LEFT COL INFOS*/
.grid-container {
  grid-gap: 10px;
}

/*LOGO*/
.logo {
  border-bottom: solid 4px;
  display: flex;
  height: 200px;
}

.logo img {
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*PODCAST*/
/* Using flex with the column direction to
   align items in a vertical direction */
.playlist {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  padding-bottom: 2.5vw;
  border-bottom: 4px solid black;
}


.playlist--player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}
.playlist--player iframe {
  width: 100%;
  height: 120px;
}

.last-track .playlist--next {
  display: none;
}

[data-current-track="0"] .playlist--prev {
  display: none;
}

.playlist--controls {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
.playlist--prev + .playlist--next {
  margin-left: 1em;
}

.playlist--artwork img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: -2px;
}

.playlist--counter {
  padding: 1rem;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
}

.playlist--all {
	text-align: center;
}


/*ABOUT*/
h1 {
  font-family: "Neue";
  font-size: 1.25em;
  font-weight: normal;
}

.border {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid thin;
  border-spacing: 20px;
}

.text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 17vw;
}

.text p {
  font-size: 0.75em;
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/*RIGHT COL INFOS*/
.chat {
  border-bottom: solid 4px;
  height: 76%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-widget {
  flex-basis: 50%;
  flex-grow: 1;
  min-height: 250px;
}
.chat-widget iframe,
#tlkio {
  min-height: 250px;
}

.social {
  position: relative;
  margin-top: 10px;
  bottom: 0;
  text-align: center;
  font-size: 2.5em;
  min-width: 17vw;
  width: 100%;
}

.social a {
  text-align: center;
}

.fa {
  padding: 0;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  color: black;
  margin-right: 0.25em;
}

.fa-twitch {
  color: black;
}

.contact {
  position: relative;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  min-width: 17vw;
  width: 100%;
}

.contact:hover {
  opacity: 0.7;
}

.mailcontact {
  text-align: center;
  min-width: 17vw;
  width: 100%;
  margin-bottom: 10px;
}

/* RESPONSIVE - MEDIUM SIZE SCREEN */

@media screen and (max-width: 1023px) and (min-width: 699px) {
  /* homepage */

  #container-mobile {
    display: none;
  }

  .first {
    width: 20px;
    height: 100%;
  }

  .second {
    display: none;
  }

  #col1 {
    background-color: white;
    flex-basis: 30%;
  }

  #col3 {
    display: none;
  }

  .medium {
    display: block;
    border-top: 4px solid #000;
  }

	.chat-widget {
	  min-height: 400px;
	}

	.chat-widget iframe,
	#tlkio {
	  min-height: 400px;
	}

}

/* RESPONSIVE - SMALL SIZE SCREEN */

@media screen and (max-width: 698px) {
  #container {
    display: none;
  }

  #container-mobile {
    background-color: #000;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-mobile-wrap {
    height: 40%;
    display: flex;
    align-items: center;
  }

  .logo-mobile-wrap img {
    width: 40vh;
  }

  .bottom {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
  }

  .menu-mobile {
    background-color: #000;
    width: 100%;
    height: auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: none;
    box-sizing: border-box;
  }

  ul li {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
  }

  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.3em;
    border-top: solid 4px white;
  }

  li a:hover:not(.active) {
    background-color: rgba(255, 255, 255);
    color: #000;
  }

  .footer-mobile {
    position: relative;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.8em;
  }

  .footer-mobile a {
    width: auto;
    color: white;
    text-decoration: none;
  }

  .fa-instagram {
    margin-left: 60px;
    margin-right: 60px;
  }
}